@model LP2M_Revisi.Models.Buku

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Buku</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Judulbuku" class="control-label"></label>
                <input asp-for="Judulbuku" class="form-control" />
                <span asp-validation-for="Judulbuku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penerbit" class="control-label"></label>
                <input asp-for="Penerbit" class="form-control" />
                <span asp-validation-for="Penerbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tahun" class="control-label"></label>
                <input asp-for="Tahun" class="form-control" />
                <span asp-validation-for="Tahun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inputby" class="control-label"></label>
                <select asp-for="Inputby" class="form-control" asp-items="ViewBag.Inputby"></select>
                <span asp-validation-for="Inputby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inputdate" class="control-label"></label>
                <input asp-for="Inputdate" class="form-control" />
                <span asp-validation-for="Inputdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editby" class="control-label"></label>
                <select asp-for="Editby" class="form-control" asp-items="ViewBag.Editby"></select>
                <span asp-validation-for="Editby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editdate" class="control-label"></label>
                <input asp-for="Editdate" class="form-control" />
                <span asp-validation-for="Editdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
