@model LP2M_Revisi.Models.Pengabdianmasyarakat

@{
    ViewData["Title"] = "Tambah Pengabdian Masyarakat";
    ViewData["Routing"] = "Pengabdian Masyarakat";
    ViewData["Routing2"] = "Tambah Pengabdian Masyarakat";
}

<h1>Tambah</h1>

<h4>Pengabdian Masyarakat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Namakegiatan" class="control-label">Nama Kegiatan</label>
                <input asp-for="Namakegiatan" class="form-control" />
                <span asp-validation-for="Namakegiatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waktupelaksanaan" class="control-label">Waktu Pelaksanaan</label>
                <input asp-for="Waktupelaksanaan" class="form-control" />
                <span asp-validation-for="Waktupelaksanaan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jumlahpenerima" class="control-label">Jumlah Penerima</label>
                <input asp-for="Jumlahpenerima" class="form-control" />
                <span asp-validation-for="Jumlahpenerima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surattugas" class="control-label">Surat Tugas</label>
                <input asp-for="Surattugas" class="form-control" type="file"/>
                <span asp-validation-for="Surattugas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laporan" class="control-label">Laporan</label>
                <input asp-for="Laporan" class="form-control" type="file"/>
                <span asp-validation-for="Laporan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buktipendukung" class="control-label">Bukti Pendukung</label>
                <input asp-for="Buktipendukung" class="form-control" type="file"/>
                <span asp-validation-for="Buktipendukung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Mahasiswa" class="control-label">Mahasiswa</label>
                <input id="Mahasiswa" name="Mahasiswa" class="form-control" required />
                <button id="Mhs" name="Mhs">Kirim</button>
            </div>
            <div class="form-group">
                <label for="Nim" class="control-label">Nim</label>
                <input id="Nim" name="Nim" class="form-control" />
                <button id="NM" name="NM">Kirim</button>
            </div>
            <div class="form-group">
                <label for="Prodi" class="control-label">Prodi</label>
                <select id="Prodi" name="Prodi" class="form-control" asp-items="ViewBag.Prodi"></select>
            </div>
            <div class="form-group">
                <label for="Detail" class="control-label">Detail</label>
                <textarea id="Detail" name="Detail" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input asp-for="MahasiswaProdiNim" class="form-control" type="hidden"/>
                <span asp-validation-for="MahasiswaProdiNim" id="MahasiswaProdiNim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    // Handling form submission
    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();

        // Get values from the form fields
        var mahasiswaValue = document.getElementById('Mahasiswa').value;
        var nimValue = document.getElementById('Nim').value;
        var prodiValue = document.getElementById('Prodi').value;
        var detail = document.getElementById('Detail').value;

        // Concatenate the values
        var mahasiswaProdiNimValue = detail;

        // Assign the concatenated value to the MahasiswaProdiNim field
        document.getElementById('MahasiswaProdiNim').value = mahasiswaProdiNimValue;

        // Submit the form
        this.submit();
    });

    // Handling Mahasiswa button click
    document.getElementById('Mhs').addEventListener('click', function (e) {
        e.preventDefault();

        // Get value from Mahasiswa field
        var mahasiswaValue = document.getElementById('Mahasiswa').value;

        // Get current value of Detail textarea
        var currentDetailValue = document.getElementById('Detail').value;
        var currentValues = currentDetailValue.split('|');
        if (!currentDetailValue){
            var newDetailValue = mahasiswaValue +'|';
        }
        else{
            if (currentValues.length >= 3) {
                var newDetailValue = (currentDetailValue ? currentDetailValue + '\n' : '') + mahasiswaValue + '|';
            }else{
                var newDetailValue = mahasiswaValue +(currentDetailValue ? '|' + currentDetailValue : '');
            }
        
        }
        // Assign the concatenated value to the Detail textarea
        document.getElementById('Detail').value = newDetailValue;   
    });

    // Handling Nim button click
    document.getElementById('NM').addEventListener('click', function (e) {
        e.preventDefault();

        // Get value from Nim field
        var nimValue = document.getElementById('Nim').value;

        // Get current value of Detail textarea
        var currentDetailValue = document.getElementById('Detail').value;

        if (!currentDetailValue){
        // Check if Mahasiswa data is already present
        var separator = currentDetailValue.includes('|') ? '|' : '';
        }else{
            var separator = '';
        }
        // Concatenate the values with |
        var newDetailValue = currentDetailValue + (currentDetailValue ? separator + nimValue : nimValue);

        // Assign the concatenated value to the Detail textarea
        document.getElementById('Detail').value = newDetailValue;
    });

    // Handling Prodi dropdown change
    document.getElementById('Prodi').addEventListener('change', function (e) {
        // Get selected value from Prodi dropdown
        //var prodiValue = this.value;
        var prodiValue = this.options[this.selectedIndex].text;

        // Get current value of Detail textarea
        var currentDetailValue = document.getElementById('Detail').value;

        // Check if Nim data is already present
        var separator = currentDetailValue.includes('|') ? '|' : '';

        // Concatenate the values with |
        var newDetailValue = currentDetailValue + (currentDetailValue ? separator + prodiValue + '|' : prodiValue + '|');

        // Assign the concatenated value to the Detail textarea
        document.getElementById('Detail').value = newDetailValue;
    });
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
