@{
    ViewData["Title"] = "Halaman SSO";
    ViewData["Routing"] = "Halaman SSO";
}
<style>
    .list-group-item:hover {
        cursor: pointer;
    }
</style>
<div class="card">
    <div class="card-header" role="tab" id="heading0">
        <h5 class="mb-0">
            <a class="toggle-app" data-toggle="collapse" href="#app0" aria-expanded="false" aria-controls="app0">Sistem LP2M</a>
        </h5>
    </div>
    <div id="app0" class="collapse" role="tabpanel" aria-labelledby="heading0" aria-expanded="false" style="">
        <div class="card-block">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" data-role="Karyawan">Login sebagai KARYAWAN</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Sisipkan event click untuk elemen dengan class 'toggle-app'
        $('.toggle-app').click(function () {
            // Ambil elemen dengan id yang sesuai dengan data-target
            var targetId = $(this).data('target');
            var targetElement = $('#' + targetId);

            // Toggle (menyembunyikan/menampilkan) elemen
            targetElement.collapse('toggle');
        });

        $('.list-group a').click(function () {
            var role = $(this).data('role');
            $.ajax({
                url: '/Login/SetRole',
                type: 'POST',
                data: { role: role },
                success: function (data) {
                    console.log('Role sent to server: ' + role);
                    if (role === "Karyawan") {
                        window.location.href = '/Dashboard/DKaryawan';
                    }
                }
            });
        });
    });
</script>
