@model LP2M_Revisi.Models.Jurnal

@{
    ViewData["Title"] = "Tambah Jurnal";
    
    ViewBag.Title = "Tambah Jurnal";
    Layout = ViewBag.Layout;
}

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <label><b>Tambah Jurnal</b></label>
        </div>
        <div class="card-block">
            <div class="row">
                <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Judulmakalah" class="control-label">Judul Makalah</label>
                            <input asp-for="Judulmakalah" class="form-control" />
                            <span asp-validation-for="Judulmakalah" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Namajurnal" class="control-label">Nama Jurnal</label>
                            <input asp-for="Namajurnal" class="form-control" />
                            <span asp-validation-for="Namajurnal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Issn" class="control-label">Issn</label>
                            <input asp-for="Issn" class="form-control" />
                            <span asp-validation-for="Issn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Volume" class="control-label">Volume</label>
                            <input asp-for="Volume" class="form-control" type="number"/>
                            <span asp-validation-for="Volume" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Nomor" class="control-label">Nomer</label>
                            <input asp-for="Nomor" class="form-control" type="number" />
                            <span asp-validation-for="Nomor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Halamanawal" class="control-label">Halaman Awal</label>
                            <input asp-for="Halamanawal" class="form-control" />
                            <span asp-validation-for="Halamanawal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Halamanakhir" class="control-label">Halaman Akhir</label>
                            <input asp-for="Halamanakhir" class="form-control" />
                            <span asp-validation-for="Halamanakhir" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Url" class="control-label">Url</label>
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                    </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Kategori" class="control-label">Kategori</label>
                        <select asp-for="Kategori" class="form-control">
                            <option value="Internasional">Internasional</option>
                            <option value="Nasional">Nasional</option>
                        </select>
                        <span asp-validation-for="Kategori" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="listPengguna" class="control-label">Pilih Pengguna</label>
                        <select id="listPengguna" class="form-control">
                            <option value="">-- Pilih Pengguna --</option>
                            @foreach (var pengguna in ViewBag.ListPengguna)
                            {
                                <option value="@pengguna.Value">@pengguna.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="selectedUsers" class="control-label">Data Pengguna yang Dipilih</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nama Pengguna</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="selectedUsersTableBody"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="hidden" id="selectedUserIds" name="SelectedUserIds" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-left">Create</button>
                <a asp-action="Index" class="btn btn-secondary float-right">Back to List</a>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Mendapatkan elemen-elemen HTML yang diperlukan
        document.getElementById('listPengguna').addEventListener('change', function () {
            var selectedOption = document.getElementById('listPengguna').options[document.getElementById('listPengguna').selectedIndex];

            // Check if the selected option has a value
            if (selectedOption.value) {
                var tableBody = document.getElementById('selectedUsersTableBody');

                // Create a new row and cells
                var row = tableBody.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                // Set the cell values
                cell1.innerHTML = selectedOption.text;

                // Create a delete button in the second cell
                var deleteButton = document.createElement('button');
                deleteButton.innerHTML = 'Hapus';
                deleteButton.className = 'btn btn-danger btn-sm';
                deleteButton.addEventListener('click', function () {
                    // Hapus baris ketika tombol hapus diklik
                    tableBody.deleteRow(row.rowIndex - 1);
                });
                cell2.appendChild(deleteButton);

                // Set the value in the third cell (hidden column)
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'SelectedUserValues';
                hiddenInput.value = selectedOption.value;
                cell3.appendChild(hiddenInput);
            }
        });
        document.querySelector('form').addEventListener('submit', function () {
            updateSelectedUserIdsInput();
        });

        function updateSelectedUserIdsInput() {
            var tableBody = document.getElementById('selectedUsersTableBody');
            var selectedUserIdsInput = document.getElementById('selectedUserIds');

            selectedUserIdsInput.value = '';

            for (var i = 0; i < tableBody.rows.length; i++) {
                var cell3 = tableBody.rows[i].cells[2];
                var hiddenInput = cell3.querySelector('input[type="hidden"]');
                selectedUserIdsInput.value += hiddenInput.value + ',';
            }
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
