@model LP2M_Revisi.Models.Jurnal

@{
    ViewData["Title"] = "Edit";
    ViewData["Routing"] = "Jurnal";
    ViewData["Routing2"] = "Edit Jurnal";
    Layout = ViewBag.Layout;
    var data = ViewBag.Detail;
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">
        <div class="card-header">
            <label><b>Edit Jurnal</b></label>
        </div>
        <div class="card-block">
            <div class="row">
                <input type="hidden" asp-for="Id" />
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Judulmakalah" class="control-label"></label>
                        <input asp-for="Judulmakalah" class="form-control" />
                        <span asp-validation-for="Judulmakalah" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Namajurnal" class="control-label"></label>
                        <input asp-for="Namajurnal" class="form-control" />
                        <span asp-validation-for="Namajurnal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Issn" class="control-label"></label>
                        <input asp-for="Issn" class="form-control" />
                        <span asp-validation-for="Issn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Volume" class="control-label"></label>
                        <input asp-for="Volume" class="form-control" />
                        <span asp-validation-for="Volume" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Nomor" class="control-label"></label>
                        <input asp-for="Nomor" class="form-control" />
                        <span asp-validation-for="Nomor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Halamanawal" class="control-label"></label>
                        <input asp-for="Halamanawal" class="form-control" />
                        <span asp-validation-for="Halamanawal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Halamanakhir" class="control-label"></label>
                        <input asp-for="Halamanakhir" class="form-control" />
                        <span asp-validation-for="Halamanakhir" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Url" class="control-label"></label>
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Kategori" class="control-label">Kategori</label>
                        <select asp-for="Kategori" class="form-control">
                            <option value="Internasional">Internasional</option>
                            <option value="Nasional">Nasional</option>
                        </select>
                        <span asp-validation-for="Kategori" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="listPengguna" class="control-label">Pilih Pengguna</label>
                        <select id="listPengguna" class="form-control">
                            <option value="">-- Pilih Pengguna --</option>
                            @foreach (var pengguna in ViewBag.ListPengguna)
                            {
                                <option value="@pengguna.Value">@pengguna.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="selectedUsers" class="control-label">Data Pengguna yang Dipilih</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nama Pengguna</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="selectedUsersTableBody">
                                @foreach (var pengguna in data)
                                {
                                    <tr>
                                        <td>@pengguna.Nama</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="removeRow(this)">Hapus</button>
                                        </td>
                                        <td><input type="hidden" name="SelectedUserValues" value="@pengguna.Id" /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" id="selectedUserIds" name="SelectedUserIds" />
            </div>
            <input asp-for="Status" class="form-control" type="hidden"/>
            <input asp-for="Inputby" class="form-control" type="hidden"/>
            <input asp-for="Inputdate" class="form-control" type="hidden" />
            <input asp-for="Editby" class="form-control" type="hidden"/>
            <input asp-for="Editdate" class="form-control" type="hidden" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-left">Ubah</button>
                <a asp-action="Index" class="btn btn-secondary float-right">Back to List</a>
            </div>
        </div>
    </div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        function removeRow(row) {
            var tableBody = document.getElementById('selectedUsersTableBody');
            tableBody.deleteRow(row.rowIndex - 1);
        }
        document.getElementById('selectedUsersTableBody').addEventListener('click', function (event) {
            if (event.target.tagName === 'BUTTON') {
                removeRow(event.target.closest('tr'));
            }
        });

        // Mendapatkan elemen-elemen HTML yang diperlukan
        document.getElementById('listPengguna').addEventListener('change', function () {
            var selectedOption = document.getElementById('listPengguna').options[document.getElementById('listPengguna').selectedIndex];

            // Check if the selected option has a value
            if (selectedOption.value) {
                var tableBody = document.getElementById('selectedUsersTableBody');

                // Create a new row and cells
                var row = tableBody.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                // Set the cell values
                cell1.innerHTML = selectedOption.text;

                // Create a delete button in the second cell
                var deleteButton = document.createElement('button');
                deleteButton.innerHTML = 'Hapus';
                deleteButton.className = 'btn btn-danger btn-sm';
                deleteButton.addEventListener('click', function () {
                    // Hapus baris ketika tombol hapus diklik
                    tableBody.deleteRow(row.rowIndex - 1);
                });
                cell2.appendChild(deleteButton);

                // Set the value in the third cell (hidden column)
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'SelectedUserValues';
                hiddenInput.value = selectedOption.value;
                cell3.appendChild(hiddenInput);
            }
        });
        document.querySelector('form').addEventListener('submit', function () {
            updateSelectedUserIdsInput();
        });


        function updateSelectedUserIdsInput() {
            var tableBody = document.getElementById('selectedUsersTableBody');
            var selectedUserIdsInput = document.getElementById('selectedUserIds');

            selectedUserIdsInput.value = '';

            for (var i = 0; i < tableBody.rows.length; i++) {
                var cell3 = tableBody.rows[i].cells[2];
                var hiddenInput = cell3.querySelector('input[type="hidden"]');
                selectedUserIdsInput.value += hiddenInput.value + ',';
            }
        }
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
